@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<div class="example-wrapper">

	<div class="example-div">
		<img class="example-img" src="~/images/barber.jpg" alt="Alternate Text" />
		<p class="example-text">Fardas</p>
	</div>

	<div class="example-div">
		<img class="example-img" src="~/images/running.jpg" alt="Alternate Text" />
		<p class="example-text">Esporte</p>
	</div>

	<div class="example-div" >
		<img class="example-img" src="~/images/gift.jpg" alt="Alternate Text" />
		<p class="example-text">Presentes</p>
	</div>	
</div>