<section>
	<div class="hero-wrapper">
		<div class="hero-carousel">
			<img class="hero-bg" src="~/images/ChatGPT Image 24 okt. 2025 19_10_13.png" alt="Alternate Text" />
			<img class="hero-bg" src="~/images/trilha.png" alt="Alternate Text" />
			<img class="hero-bg" src="~/images/items.png" alt="Alternate Text" />

		</div>
		<div class="hero-content">
			<h1 class="hero-h1">Levando você do Sub ao Max</h1>
			<p class="hero-p">Impressões por sublimação de alta qualidade, com cores vibrantes e durabilidade excepcional.</p>
			<div class="hero-links">
				<a href="#">Compre Agora</a>
				<a href="#">Comece Seu Design</a>
			</div>
		</div>
	</div>

	<script src="/js/hero.js" asp-append-version="true"></script>
</section>