<section>
	<div class="hero-wrapper">
		<img class="hero-bg" src="~/images/ChatGPT Image 24 okt. 2025 19_10_13.png" alt="Alternate Text" />
		<div class="hero-content">
			<h1 class="hero-h1">Levando você do Sub ao Max</h1>
			<p class="hero-p">Impressões por sublimação de alta qualidade, com cores vibrantes e durabilidade excepcional.</p>
			<div class="hero-links">
				<a href="#">Compre Agora</a>
				<a href="#">Comece Seu Design</a>
			</div>
		</div>
	</div>
</section>

@* hade varit nice att l'gga till en bakgrund till som carousel 3-4sek; *@