@* navbar *@
<div class="disp-flex-row navbar">
	<div class="logo-div">
		<img class="navbar-logo" src="~/images/Logo/LOGOTYPE TEXT.svg" alt="submax logo" />
	</div>
	<div class="disp-flex-row navbar-items">
		<a href="#">Produtos</a>
		<a href="#">Sobre nos</a>
		<a href="#">Contato</a>

	</div>
</div>