<div class="showcase-wrapper">

	<div class="showcase-div">
		<div class="img-container">
			<img class="showcase-img" src="~/images/clinimater.jpg" alt="Alternate Text" />
		</div>
		
		<div class="showcase-text">
			<p>We loved the quality of the fabrics its really soft to the touch and it was easy to get started <br /> <small>- Clinimater</small></p>
		</div>
	</div>

	<div class="reverse">
		<div>
			<img class="showcase-img" src="~/images/dom.jpg" alt="Alternate Text" />
		</div>

		<div class="showcase-text">
			<p>We loved the quality of the fabrics its really soft to the touch and it was easy to get started <br /> <small>- Clinimater</small></p>
		</div>
	</div>
</div>