@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div>
	<div class="carousel-wrapper">
		<p class="carousel-box">Frete gratis acima de 300R$</p>
		<p class="carousel-box">Veja as nossas novedades!</p>
		<p class="carousel-box">Aceitamos pix e cartao!</p>
	</div>
</div>