@* top banner *@
<div>
	<div class="carousel-wrapper">
		<p class="carousel-box">Frete gratis acima de 300R$</p>
		<p class="carousel-box">se våra nyheter!</p>
		<p class="carousel-box">Vi tar alla stora kortutgivare och swish!</p>
	</div>
</div>