@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

<!-- Jumbotron, w title -->
<div class="jumbotron text-center jumbotron-fluid">
	<div class="container">
		<h1 class="display-1">@Model.Value("title")</h1>
		<p>And this is <span class="font-weight-bold">only</span> the beginning.</p>
	</div>
</div>