@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
	<title>SUBMAX</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css" />
</head>




<body class="wrapper">
	<header>
		@await Html.PartialAsync("_TopBanner")
		@await Html.PartialAsync("_Navbar")
	</header>

	<main>
		@RenderBody()
	</main>

	<footer>
		@await Html.PartialAsync("_Footer")
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="~/js/script.js" asp-append-version="true"></script>
</body>
</html>
