* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.carousel-wrapper {
    height: 25px;
    width: 100vw;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    p
{
    font-size: .75rem;
}
}

.carousel-box{
    text-align: center;
    color: white;
    width: fit-content;
}
.navbar {
    background-color: #1a1919;
    height: 50px;
    justify-content: space-between;
}
.disp-flex-row{
    display: flex;
    flex-direction: row;
}
.navbar-logo {
    width: 200px;
}
.logo-div {
    align-content: center;
    margin-left:2rem; 
}
.navbar-items {
    align-items: center;
    gap: 4rem;
    margin-right: 2rem;
    text-align: center;

    a
    {
        color: white;
        text-decoration: none;
    }
}

.footer {
    background-color: #1a1919;
    color: white;
}