@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pirata+One&family=Praise&family=Zen+Tokyo+Zoo&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    max-width: 80%;
    overflow:hidden;
}

.carousel-wrapper {
    height: 25px;
    width: 100vw;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    p
{
    font-size: .75rem;
}
}

.carousel-box{
    text-align: center;
    color: white;
    width: fit-content;
}
.navbar {
    background-color: #1a1919;
    height: 50px;
    justify-content: space-between;
}
.disp-flex-row{
    display: flex;
    flex-direction: row;
}
.navbar-logo {
    width: 200px;
}
.logo-div {
    align-content: center;
    margin-left:2rem; 
}
.navbar-items {
    align-items: center;
    gap: 4rem;
    margin-right: 2rem;
    text-align: center;

    a
    {
        color: white;
        text-decoration: none;
    }
}

.hero-wrapper {
    position: relative;
    width: 100%;
    height: 70svh;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 80%;
    /*top: -0px;*/
    z-index: 1;
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}
.hero-content {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-h1 {
    
    color: white;
    font-family: "Praise";
    font-size: 5rem;
    font-weight: 300;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.hero-p {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.9);
    text-align: center;
}
.hero-links {
    display: flex;
    gap: 2rem;
    margin: 3rem;

    a{
         text-decoration: none;
         color: white;
         background-color: #1a1919;
         font-size: 1.1rem;
         padding: .5rem 2rem .5rem 2rem;
         border-radius: 6px;
         box-shadow: 0 0 20px 1px #555555;
    }
}

.footer {
    background-color: #1a1919;
    color: white;
}